// shared
html {
  scroll-behavior: smooth;
  min-height: 100%;
  position: relative;
}
body {
  padding: 6rem;
}

* {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.App {
  background-color: #fefefe !important;
}

.postCard {
  box-shadow: 1px 1px 1px 1px rgba(88, 87, 88, 0.1);
  padding: 2rem;
  border-radius: 16px;
  .postImg {
    width: 100%;
    object-fit: contain;
  }
  h2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    text-transform: capitalize;
  }
  p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #979797;
  }

  .commentSection {
    background-color: red;
    .comment {
      .useImg {
        width: 40px;
        height: 40px;
        object-fit: contain;
      }
    }
  }
}
